@font-face
{
  font-family: "Caviar Dreams";
  src: url("../font/CaviarDreams.ttf");
}

@font-face
{
  font-family: "Dekiru";
  src: url("../font/Dekiru.ttf");
}

@font-face
{
  font-family: "Aller";
  src: url("../font/Aller.ttf");
}

@font-face
{
  font-family: "Sintony";
  src: url("../font/Sintony.otf");
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"]
{
    font-family: "Caviar Dreams";
}
