@import url("fonts.css");

div { height: 25%; }
html, body { height: 100%; }
body
{
  text-align: center;
  font-family: "Caviar Dreams";
  font-size: 28px;
  color: #ffffff;
}

#div1 { background: linear-gradient(rgba(000, 000, 000, 0.2), rgba(128, 000, 000, 0.2)), url("../img/background.png"); }
#div2 { background: linear-gradient(rgba(128, 000, 000, 0.2), rgba(000, 128, 000, 0.2)), url("../img/background.png"); }
#div3 { background: linear-gradient(rgba(000, 128, 000, 0.2), rgba(000, 000, 128, 0.2)), url("../img/background.png"); }
#div4 { background: linear-gradient(rgba(000, 000, 128, 0.2), rgba(000, 000, 000, 0.2)), url("../img/background.png"); }
