@import url("fonts.css");

body
{
  text-align: justify;
  font-family: "Sintony";
  font-size: 3vmin;
  line-height: 140%;
  color: #ffffff;
  background: linear-gradient(rgba(64, 0, 64, 0.2), rgba(64, 0, 64, 0.2)), url("../img/background.png");
  margin: 16vmin 32vmin;
}

h1
{
  text-align: center;
  font-size: 6vmin;
}
