@import url("fonts.css");

body
{
  text-align: center;
  font-family: "Caviar Dreams";
  font-size: 32px;
  color: #ffffff;
  background-color: #000000;
}

h1
{
  font-size: 64px;
}

.text
{
  text-align: center;
  font-size: 24px;
  width: 75%;
}
