@import url("fonts.css");

body
{
  text-align: center;
  font-family: "Caviar Dreams";
  font-size: 24px;
  color: #ffffff;
  background-color: #000000;
}

h1
{
  font-size: 72px;
}

#menu li
{
  display:inline-block;
  margin: 10px;
  color: #000000;
  background:#ffffff;
  background: rgba(192, 192, 192, 0.625);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#menu li.active
{
  background:#666666;
  background: rgba(0, 0, 0, 0.625);
  color: #ffffff;
}

#menu li a
{
  text-decoration:none;
  color: #000000;
}

#menu li.active a:hover
{
  color: #000000;
}

#menu li:hover
{
  background: rgba(255,255,255, 0.75);
}

#menu li a, #menu li.active a
{
  padding: 9px 18px;
  display:block;
}

#menu li.active a
{
  color: #ffffff;
}

#menu
{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
}

.intro p
{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

#infoMenu
{
  height: 20px;
  color: #f2f2f2;
  position:fixed;
  z-index:70;
  bottom:0;
  width:100%;
  text-align:right;
  font-size:0.9em;
  padding:8px 0 8px 0;
}
