@import url("fonts.css");

body
{
  text-align: center;
  font-family: "Caviar Dreams";
  font-size: 32px;
  color: #ffffff;
  background: linear-gradient(rgba(0, 0, 64, 0.3), rgba(0, 0, 64, 0.3)), url("../img/background.png");
}

h1
{
  font-size: 64px;
}

.section
{
  text-align:center;
  font-size: 24px;
  width: 75%;
}
